.advantages {
  margin: 0;
  padding: 0;
}

.advantages__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
  color: @basic-gray;
  padding: 0;
  margin-bottom: 29px;

  @media (min-width: @middle-width) {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: @large-width) {
    margin-bottom: 0;
    font-size: 50px;
    line-height: 68px;
  }
}


.advantages__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: @basic-white;
  min-height: 250px;
  justify-content: space-around;
}

.advantages__list-wrapper {
  position: relative;
  background-color: @silver-gray;
  width: 100%;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../img/iphone-screen-mobile@1x.png');
    background-repeat: no-repeat;
    width: 155px;
    height: 319px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    bottom: -42px;
  }

  @media (min-width: @middle-width) {

    &::after {
      display: none;
    }
  }
}

.advantages__list {
  position: relative;
  display: block;
  text-align: center;
  list-style: none;
  padding: 0;
  padding-bottom: 287px;
  padding-top: 14px;
  margin: 0;
  color: @basic-black;

  @media (min-width: @middle-width) {
    text-align: left;
    padding-left: 310px;
    padding-bottom: 0;

    &::before {
      content: "";
      position: absolute;
      background-image: url('../img/iphone-screen-mobile@1x.png');
      background-size: 268px 547px;
      background-repeat: no-repeat;
      width: 268px;
      height: 547px;
      left: 20px;
      top: 10px;
    }
  }

  @media (min-width: @large-width) {
    display: grid;
    position: relative;
    grid-template-columns: 252px 252px 252px;
    column-gap: 68px;
    justify-content: center;
    text-align: center;
    padding-left: 0;
    padding-top: 360px;
    padding-bottom: 0;

    &::before {
      display: none;
    }

    .advantages__item--mood::before {
      content: "";
      position: absolute;
      background-image: url('../img/iphone-screen-1-desktop@1x.png');
      background-repeat: no-repeat;
      width: 300px;
      height: 382px;
      left: 20px;
      top: 30px;
    }

    .advantages__item--change::before {
      content: "";
      position: absolute;
      background-image: url('../img/iphone-screen-2-desktop@1x.png');
      background-repeat: no-repeat;
      width: 300px;
      height: 382px;
      left: 320px;
      top: 30px;
    }

    .advantages__item--friends::before {
      content: "";
      position: absolute;
      background-image: url('../img/iphone-screen-3-desktop@1x.png');
      background-repeat: no-repeat;
      width: 300px;
      height: 382px;
      left: 620px;
      top: 30px;
    }
  }
}

.advantages__title {
  font-family: @font-main;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: @large-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  font-family: @font-main;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 31px;

  @media (min-width: @large-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
