.advantages {
  background-color: @basic-white;
  margin: 0;
  padding: 0;
}

.advantages__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
  color: @basic-gray;
  padding: 0;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0;
  background-color: @basic-white;

  @media (max-width: @mobile-width) {
    min-height: 250px;
    justify-content: space-around;
  }
}

.advantages__list-wrapper {
  background-color: @light-gray;
}

.advantages__list {
  list-style: none;
  color: @basic-black;
}

.advantages__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
