.contacts {
  position: relative;
  display: block;
  background-color: @basic-white;
  color: @basic-gray;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../../img/bg-triangle-white-footer.svg');
    background-repeat: no-repeat;
    width: 1200px;
    height: 123px;
    left: -158px;
    right: 0;
    top: 395px;
    z-index: 5;
  }

  @media (min-width: @middle-width) {
    display: grid;

    &::after {
      background-size: 1200px 123px;
      top: 350px;
      left: -290px;
    }
  }
}

.contacts__text {
  padding: 0;
  margin: 0 auto;
}

.contacts__top-text {
  text-align: center;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 34px;
  margin: 0 auto;

  @media (min-width: @middle-width) {
    font-size: 40px;
    line-height: 55px;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 43px;
    padding-bottom: 32px;
  }

  @media (min-width: @large-width) {
    font-size: 50px;
    line-height: 68px;
    padding-top: 74px;
    padding-bottom: 61px;
  }
}


.contacts__block-number {
  padding-bottom: 18px;

  @media (min-width: @middle-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 37px;
  }

  @media (min-width: @large-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 60px;
  }
}

.contacts__block-mail {
  padding-bottom: 22px;

  @media (min-width: @middle-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 79px;
  }

  @media (min-width: @large-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 111px;
  }
}


.contacts__block-adress {
  padding-bottom: 35px;

  @media (min-width: @middle-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 20px;
    padding-top: 20px;
  }

  @media (min-width: @large-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 94px;
  }
}

.contacts__text--black {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  z-index: 30;

  @media (min-width: @middle-width) {
    padding-bottom: 4px;
  }
}

.contacts__text--red {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-pink;
  text-decoration: none;
  z-index: 30;
}

.contacts__text--red:hover {
  color: @basic-gray;
}

.contacts__text--red:active {
  color: fade(@basic-gray, 30%);
}
