.contacts {
  display: block;
  background-color: @basic-white;
  color: @basic-gray;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;


  @media (min-width: @middle-width) {
    display: grid;
  }
}

.contacts__text {
  padding: 0;
  margin: 0 auto;

  @media (min-width: @middle-width) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.contacts__top-text {
  text-align: center;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 45px;
  margin: 0 auto;
}

.contacts__block--number {
  padding-bottom: 31px;

  @media (min-width: @middle-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  @media (min-width: @large-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.contacts__block--mail {
  padding-bottom: 31px;

  @media (min-width: @middle-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  @media (min-width: @large-width) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.contacts__block--adress {
  padding-bottom: 41px;

  @media (min-width: @middle-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: @large-width) {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}

.contacts__text--black {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.contacts__text--red {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-pink;
  text-decoration: none;
}

.contacts__text--red:hover {
  color: @basic-gray;
}

.contacts__text--red:active {
  color: fade(@basic-gray, 30%);
}
