.filter {
  background-color: @light-gray;
}

.filter__wrapper {

  @media (min-width: @middle-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.filter__picture-wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.filter__tools-wrapper {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @large-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
