.filter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  background-color: @light-gray;

  @media (min-width: @middle-width) {
    flex-direction: row;
  }
}

.filter__picture-wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.filter__tools-wrapper {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -5px;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @middle-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
