.form {
  font-size: 14px;
  font-weight: 400;
}

.form__promo {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-white;
  background-color: @dark-gray;
}

.form__black-title {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @basic-gray;
}

.form__label-text {
  line-height: 30px;
  color: @basic-pink;
  text-transform: uppercase;
}

.form__input-text {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__achievements {
  background-color: @light-gray;
}

.form__red-title {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @basic-pink;
  text-transform: uppercase;
}

.form__text {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__text-aria {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__submit-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: @basic-green;
  color: @basic-white;
}

.form__symbol {
  color: @basic-pink;
}

.form__required-text {
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-gray;
}
