.form {
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: @middle-width) {
  .form__wrapper {
    display: grid;
    grid-template-rows: 1fr;
  }

  .form__full-name {
    order: 1;
  }

  .form__apps {
    order: 2;
  }

  .form__contacts {
    order: 3;
  }

  .form__achievements {
    order: 4;
  }

  .form__emotions {
    order: 5;
  }

  .form__button {
    order: 6;
  }
}

@media (min-width: @large-width) {
  .form__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .form__full-name {
    grid-column-start: 1;
    grid-column-end: 2;
    order: 1;
  }

  .form__apps {
    grid-column-start: 2;
    grid-column-end: 3;
    order: 2;
  }

  .form__contacts {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__achievements {
    order: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__emotions {
    order: 5;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .form__button {
    order: 6;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__full-name-item {
  @media (min-width: @middle-width) {
    display: flex;
    flex-wrap: wrap;

  }
}

.form__contacts-item {

  @media (min-width: @middle-width) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.form__contacts {

  @media (min-width: @large-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
  }

}

.form__title--black {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @basic-gray;
}

.form__title--red {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @basic-pink;
  text-transform: uppercase;
}

.form__text--label {
  line-height: 30px;
  color: @basic-pink;
  text-transform: uppercase;
  display: block;
}

.form__text--input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__text--checkbox {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
  align-items: center;
}

.form__text--radio {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__achievements,
.form__apps {

  @media (min-width: @small-width) {
    background-color: @light-gray;
    margin: 0 calc(-50vw + 50%);
    padding-left: 70px;
  }

  @media (min-width: @middle-width) {
    background-color: @basic-white;
    margin: 0 auto;
    padding-left: 0;
  }

  @media (min-width: @large-width) {
    background-color: @basic-white;
    margin: 0 auto;
    padding-left: 0;
  }
}

.form__text--desktop {

  @media (min-width: @small-width) {
    display: none;
  }
}


.form__achivements-wrapper {

  @media (min-width: @large-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 150px;
    transform: translateX(6%);
  }
}

.form__textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  height: 197px;
  width: 100%;
  align-items: center;
  color: @basic-gray;
  border: 2px solid @light-gray;
  border-radius: 1px;
}

.form__button {

  @media (min-width: @middle-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__button-submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: @basic-green;
  color: @basic-white;
}

.form__symbol {
  color: @basic-pink;
}

.form__text--required {
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-gray;
}
