.form {
  font-size: 14px;
  font-weight: 400;
}

.form__promo {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-white;
  background-color: @dark-gray;
}

.form__title--black {
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: @basic-gray;
}

.form__title--red {
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: @basic-pink;
  text-transform: uppercase;
}

.form__text--label {
  line-height: 30px;
  color: @basic-pink;
  text-transform: uppercase;
}

.form__text--input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
}

.form__text--checkbox {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
  align-items: center;
}

.form__text--radio {
  font-size: 18px;
  line-height: 30px;
  color: @basic-gray;
  align-items: center;
}

.form__achievements {
  background-color: @light-gray;
}

.form__textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  height: 197px;
  width: 276px;
  align-items: center;
  color: @basic-gray;
  border: 2px solid @light-gray;
  border-radius: 1px;
}

.form__button--submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  background-color: @basic-green;
  color: @basic-white;
}

.form__symbol {
  color: @basic-pink;
}

.form__text--required {
  line-height: 30px;
  text-transform: uppercase;
  color: @basic-gray;
}
