.gallery {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  background-color: @basic-white;
}

.gallery__item-big {
  position: relative;
  margin-bottom: 20px;
}

.gallery__description-wrapper {
  background-color: @light-gray;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @middle-width) {
    width: 620px;
  }

  @media (min-width: @large-width) {
    width: 940px;
  }
}

@media (min-width: @middle-width) {
  .gallery__item--big {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.gallery__item-wrapper {
  @media (min-width: @middle-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: @large-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.gallery__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-white;
  background-color: @dark-gray;
}

.gallery__slogan--top {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-gray;
}

.gallery__slogan--bottom {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: @basic-gray;
}

.gallery__item {
  background-color: @light-gray;
  margin-bottom: 20px;
}

.gallery__item--user-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__item--time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__item-accent {
  content: "";
  justify-content: center;
  text-align: center;
  position: absolute;
  transform: translateX(-205px) translateY(54px);
  width: 140px;
  height: 36px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: @basic-pink;
  color: @basic-white;
}

.gallery__item--description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__likes {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @basic-pink;
}
