.gallery {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  background-color: @basic-white;
}

.gallery__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @basic-white;
  background-color: @dark-gray;
}

.gallery__slogan--top {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @basic-gray;
}

.gallery__slogan--bottom {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: @basic-gray;
}

.gallery__item {
  background-color: @light-gray;
}

.gallery__item--user-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__item--time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__item--accent {
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  background-color: @basic-pink;
  color: @basic-white;
}

.gallery__item--description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: @basic-gray;
}

.gallery__likes {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: @basic-pink;
}
