.page-header {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  background-color: @basic-gray;
  color: @basic-white;
}

.page-header__logo {
  height: 23px;

  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}
