.page-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: @basic-gray;
  background-image: url("../../img/bg-back-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: @basic-white;
}

.page-header__svg {
  width: 74px;
  height: 23px;
}

.page-header__logo {
  height: 23px;

  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;

  @media (min-width: @middle-width) {
    height: 40px;
  }

  @media (min-width: @large-width) {
    height: 40px;
    grid-column: 2 e("/") 3;
  }
}

.page-header__wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: fade(@basic-black, 30%);

  @media (min-width: @large-width) {
    display: grid;
    grid-template-columns: 1fr 150px 790px 1fr;
  }
}


@media (max-width: @middle-width) {
  .page-header__wrapper--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-header__toggle {
  @media (min-width: @large-width) {
    display: none;
  }
}

.page-header__promo {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: @basic-white;
  width: 100%;
  margin: 0 auto;
}
