.page-footer {
  font-family: "Open Sans";
  color: @basic-gray;
  background-color: @basic-white;
}

.social__link {
  color: @basic-pink;
  text-decoration: none;
}

.copyright__link {
  color: @basic-pink;
  text-decoration: none;
}

