.page-footer {
  font-family: @font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: @basic-gray;
  background-color: @basic-white;
  margin: 0 auto;

  @media (min-width: @middle-width) {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
}

.page-footer__logo {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 33px;

  @media (min-width: @middle-width) {
    margin: 36px auto;
    padding-right: 79px;
  }

  @media (min-width: @large-width) {
    margin: 70px auto;
    padding-right: 240px;
  }
}
