.page-footer {
  font-family: "Open Sans";
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: @basic-gray;
  background-color: @basic-white;
}

.social__link {
  color: @basic-pink;
  text-decoration: none;
}

.copyright__link {
  color: @basic-pink;
  text-decoration: none;
}
