.plans {
  margin: 0 auto;
  background-color: @dark-gray;
  min-height: 363px;
  padding-bottom: 100px;
}

@media (max-width: @small-width) {
  .plans--wrapper {
    margin: 0 auto;
    overflow: hidden;
  }

  .plans__price--base {
    display: none;
  }

  .plans__price--unlimited {
    display: none;
  }
}
