.promo {
  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  background-color: @dark-gray;
  color: @basic-white;
  margin: 0;
}

.promo__button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @basic-white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.promo__slogan {
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  padding: 0;
}

.promo__info {
  margin: 0;
  padding: 0;
}

.promo__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}
