.reviews {
  position: relative;
  background-color: @basic-white;
  text-align: center;

  @media (min-width: @large-width) {
    padding-top: 193px;
  }
}

.reviews__triangle-svg {
  content: "";
  position: absolute;
  z-index: 5;
  width: 1172px;
  top: 270px;
  fill: @basic-white;
}

.reviews__user-name-top {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @middle-width) {
    display: none;
  }
}

.reviews__item {
  margin: 0;
  padding-top: 41px;
  padding-bottom: 30px;
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  color: @basic-gray;
  padding-top: 13px;
}

.reviews__user-name-bottom {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: @small-width) {
    display: none;
  }
}

.reviews__user-info {
  font-size: 14px;
  line-height: 30px;
  color: @basic-gray;

  @media (max-width: @small-width) {
    display: none;
  }
}

.reviews__bullit-list {
  display: flex;
  list-style: none;
  z-index: 30;
  margin: 0 auto;
  padding: 0;
}

.reviews__bullit-circle {
  background-color: @dark-gray;
  border: 1px solid @dark-gray;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  opacity: 0.3;
}

.reviews__bullit-item {
  margin-right: 19px;

  &:last-of-type {
    margin-right: 0;
  }
}

.reviews__bullit-circle--active {
  background-color: @white-gray;
  border: 3px solid @dark-gray;
}


