.reviews {
  position: relative;
  background-color: @basic-white;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    background-image: url('../img/bg-triangle-white.svg');
    background-repeat: no-repeat;
    width: 1200px;
    height: 94px;
    left: 0;
    right: 0;
    top: 272px;
    z-index: 5;
  }

  @media (min-width: @middle-width) {
    &::after {
      top: 290px;
    }
  }

  @media (min-width: @large-width) {
    padding-top: 193px;
  }
}



.reviews__user-name-top {
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @middle-width) {
    display: none;
  }
}

.reviews__item {
  margin: 0;
  padding-top: 41px;
  padding-bottom: 23px;

  @media (min-width: @middle-width) {
   padding-bottom: 27px;
  }
}

.reviews__text {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  color: @basic-gray;
  padding-top: 13px;

  @media (min-width: @middle-width) {
    font-size: 18px;
    padding-top: 49px;
    padding-bottom: 36px;
  }
}

.reviews__user-name-bottom {
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: @small-width) {
    display: none;
  }
}

.reviews__user-info {
  font-size: 14px;
  line-height: 30px;
  color: @basic-gray;
  margin: 0;

  @media (max-width: @small-width) {
    display: none;
  }
}

.reviews__bullit-list {
  display: flex;
  list-style: none;
  z-index: 30;
  margin: 0 auto;
  padding: 0;
}

.reviews__bullit-circle {
  background-color: @dark-gray;
  border: 3px solid @basic-white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
  opacity: 0.3;
}

.reviews__bullit-item {
  margin-right: 13px;

  &:last-of-type {
    margin-right: 0;
  }
}

.reviews__bullit-circle--active {
  background-color: @basic-white;
  border: 3px solid @dark-gray;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  padding: 0;
}
