.site-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @large-width) {
    flex-direction: row;
  }
}

.site-list__item {
  color: @basic-white;
  text-decoration: none;
}

@media (min-width: @large-width) {
  .site-list {
    width: 620px;
  }
}
